---
layout: default
title: Historia del Cine
description: Blog sobre cine, animación, documental y patrimonio audiovisual en dominio público
comments: true
---

<!-- Script para redirigir etiquetas -->
<script src="/historiadelcine/assets/js/tags.js"></script>

<!-- Navegación por páginas -->
<div>
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">Anterior</a>
  {% else %}
    <span>Anterior</span>
  {% endif %}
  | <span class="page_number">
    Página: {{ paginator.page }} de {{ paginator.total_pages }}
  </span> |
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}">Posterior</a>
  {% else %}
    <span>Posterior</span>
  {% endif %}
</div>

<!-- Lista de entradas -->
<div class="list-group">
  {% for post in paginator.posts %}
    <div class="list-group-item">
      <a href="{{ post.url | relative_url }}">
        <h4 class="list-group-item-heading">{{ post.title }}</h4>
        <h6 class="list-group-item-heading">
          {{ post.published | date: '%d/%m/%Y' }} |
          (Última actualización: {{ post.date | date: '%d/%m/%Y' }})
        </h6>
      </a>

      <!-- Etiquetas -->
      {% for tag in post.tags %}
        <a class="label label-default"
           href="javascript:void(0);"
           onclick="redirectToTagPage('{{ tag | slugify }}')">{{ tag }}</a>
      {% endfor %}

      <!-- Imagen si existe -->
{% unless post.noimage %}
  <img alt="{{ post.title }}"
       src="{{ '/assets/images/posts/' | relative_url }}{{ post.ruta_imagen }}/top.jpg"
       class="img-responsive">
{% endunless %}



      <!-- Resumen -->
      {% assign inicio = post.content | split: '<!--excerpt-es-->' | last %}
{% assign solo_es = inicio | split: '<!--/excerpt-es-->' | first %}
<p>{{ solo_es | markdownify }}</p>

      <a href="{{ post.url | relative_url }}">Leer más...</a>
    </div>
  {% endfor %}
</div>

<!-- Navegación repetida al final -->
<div>
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">Anterior</a>
  {% else %}
    <span>Anterior</span>
  {% endif %}
  | <span class="page_number">
    Página: {{ paginator.page }} de {{ paginator.total_pages }}
  </span> |
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}">Posterior</a>
  {% else %}
    <span>Posterior</span>
  {% endif %}
</div>
