<!doctype html>
<html lang="es">
  {% include head.html %}

  <body>
    <script src="/historiadelcine/assets/js/tags.js"></script>

    {% include header.html %}

 
    <div class="container">

      {% if page.id %}
        <p>
          <strong>{{ page.published | date: '%d/%m/%Y' }} (última actualización: {{ page.date | date: '%d/%m/%Y' }})</strong>
          <br>
          {% for tag in page.tags %}
            <a class="label label-default" href="javascript:void(0);" onclick="redirectToTagPage('{{ tag | slugify }}')">{{ tag }}</a>
          {% endfor %}
        </p>

        {% for i in (1..5) %}
          {% assign github_var = 'page.github' | append: i %}
          {% if [github_var] %}
            <p><a href="{{ [github_var] }}" class="btn btn-default">
              <i class="fa fa-github fa-2x"></i> {{ [github_var] }}
            </a></p>
          {% endif %}
        {% endfor %}

        <hr>
      {% endif %}

      {{ content }}

      {% if page.id %}
        <p>
          Originalmente publicado {{ page.published | date: '%d/%m/%Y' }}  
          <br>Última actualización {{ page.date | date: '%d/%m/%Y' }}
        </p>

        <p><strong>Últimas entradas relacionadas:</strong></p>
        <ul>
          {% assign count = 0 %}
          {% for allpost in site.posts %}
            {% if count < 5 %}
              {% assign common_tags = allpost.tags | where_exp: "tag", "page.tags contains tag" %}
              {% if common_tags.size > 0 and allpost.id != page.id %}
                <li><a href="{{ site.baseurl }}{{ allpost.url }}">{{ allpost.title }}</a></li>
                {% assign count = count | plus: 1 %}
              {% endif %}
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}

     
    </div>
 <!-- ✅ DISQUS SIEMPRE FUERA DEL CONTENEDOR -->
    {% include disqus.html %}

    {% include footer.html %}
    {% include analytics.html %}
  </body>
</html>
